* {
    margin: 0px;
    padding: 0px;
 }

header
 {
background-image: url(giphy.gif);
-webkit-background-size:cover;
background-size:cover;
background-position: center center;
height: auto;
 }

  #heading
    {
      text-align:center;
      padding-top:8%;
      padding-bottom:8%;
      font-family: "Roboto", sans-serif;
      font-size: 5em;
      background: linear-gradient(to right, #E2C044 0%, #61521d 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    }

 /* #photo1
   {
    width:25%;
    height:auto;
    margin-left:5%;
    margin-top:5%;
    border:5px solid #003046; padding:0px; margin:0px”;
   } */

  .nav
  {
    list-style-type:none;
    background-color: #393E41;
    background-image: radial-gradient( #003046,  #011721 );
    overflow:hidden;
    padding:1em;
    text-align:center;
  }

 li {display:inline;}

 li a
 {
   text-decoration:none;
   color:#D3D0CB;
   font-family: "Roboto", sans-serif;
   font-size:1em;
   padding:1em;
   text-shadow:1px 1px black;
 }

 li a:hover
 {
   background-color:#E2C044;
   background-image: radial-gradient( #E2C044,black );
 }

#dheader
{
      font-size: 2em;
      text-decoration: double underline 4px;
      padding-bottom:1%;
      color:#042459;
      text-align:center;
}

.subtext
    {
      margin-left:5%;
      margin-right:5%;
    }

#link
    {
      margin-bottom:10%;
    }
