* {
    margin: 0px;
    padding: 0px;
 }
body{
    font-family:"Optima", sans-serif;
}

#membersheading{
    text-align:center;
    padding-top:8%;
    padding-bottom:8%;
    font-family: "Roboto", sans-serif;
    font-size: 5em;
    /*text-shadow:1px 1px #E2C044;*/
    background: linear-gradient(to right, #E2C044 0%, #61521d 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    }
    #membersheading0{
    color :  #202121;
    font-size: 20px;
    text-align: left;
    }
    #membersheading1{
    color :  #202121;
    font-size: 20px;
    text-align: center;
    }
    #membersheading2{
    color :  #202121;
    font-size: 20px;
    text-align: right;
    }
    figcaption{
    font-size: larger;
    font-weight: bolder;
    caption-side: top;
    text-align:center;
    }
    .nav{
    list-style-type:none;
    background-color: #393E41;
    background-image: radial-gradient( #003046, #011721 );
    overflow:hidden;
    padding:1em;
    text-align:center;
    font-size: 17px;
    }
    li{
    display:inline;
    }
    li a{
    text-decoration:none;
    color:#D3D0CB;
    font-family: "Roboto", sans-serif;
    font-size:1em;
    padding:1em;
    text-shadow:1px 1px black;
    }
    li a:hover {
    background-color:#E2C044;
    background-image: radial-gradient( #E2C044,black );
    }
    #photo1 {
    width:80%;
    height:auto;
    margin-left:10%;
    margin-top:8%;
    border:5px solid #003046; padding:0px; margin:0px”;
    }
    #photo2 {
    width:70%;
    height:auto;
    margin-left:15%;
    margin-top:8%;
    border:5px solid #003046; padding:0px; margin:0px”;
    }
    #photo3 {
    width:75%;
    height:auto;
    margin-left:5%;
    margin-right:10%;
    margin-top:8%;
    border:5px solid #003046; padding:0px; margin:0px”;
    }
    #photo4 {
    width:130%;
    height:auto;
    margin-left:10%;
    margin-top:5%;
    border:5px solid #003046; padding:0px; margin:0px”;
    }
    #photo5 {
    width:130%;
    height:auto;
    margin-left:14%;
    margin-top:5%;
    border:5px solid #003046; padding:0px; margin:0px”;
    position: relative;
    /* top: 10px; */
    left: 100px;
    }
    #photo6 {
    width:40%;
    height:auto;
    margin-left:5%;
    margin-right:10%;
    margin-top:3%;
    border:5px solid #003046; padding:0px; margin:0px”;
    position: relative;
    /* top: 10px; */
    left: 80px;
    }
    .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    }
    .flex-container2 {
        margin-top:5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    color :  #003046;
    font-size: 20px;
    text-align: left;
    }
    .flex-container3 {
        margin-top:2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    color : #003046;
    font-size: 20px;
    text-align: left;
    }
    .membergrade{
        margin-bottom:3%;
        color: #042459;
        text-decoration: solid underline 2px;
    }
    #membersh{
        color: #042459;
        font-size: 2em;
        text-decoration: double underline 4px;
        margin-bottom: 1%;
        margin-top:8%;
        text-align:center;
       
       
    }
    #footer{
        margin-top: 10%;
        width: 100%;
        padding-top:5%;
        padding-bottom:5%;
        background-color:#042459;
        color:#D3D0CB;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-size:1em;
     }
     #footer div{
        text-align:center;
       
     }
     #col-1{
       
        margin-right:auto;
        margin-left:22%;
     }
     #col-2{
       
     margin-left:auto;
     margin-right:22%;
     }
     
     .footert{
        color:#D3D0CB;
     }
     #col-1 a{
     display:block;
     }
     #footerheaderl {
        margin-bottom:5%;
     }
     #footerheaderc{
        margin-bottom:5%;
     }
     #col-2 a{
        display: block;
     }
     #instalogo{
        font-size:30px;
     }
     
     #creators{
        background-color:#042459;
        color:#D3D0CB;
        padding-bottom:2%;
        font-family: "Roboto", sans-serif;
        font-size:100%;
        text-align:center;
     }
     a{
        text-decoration: none;
     }
